body, ul,li,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

a {
    color: #18181a;
    text-decoration: none;
}

.chex:after {
    content: "";
    clear: both;
    display: block;
}

.fl{
    float: left;
}

#top{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

