/* Css初始化 div天下第一 */
body,
p,
ul {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

input {
	outline: none;
}

li {
	list-style: none;
}

/* img {cursor: pointer;} */
/* header开始 */
#top {
	width: 100%;
	height: 36px;
	background: rgb(249, 249, 249)
}

#topcenter {
	margin: 0 auto;
	width: 80%;
	min-width: 1200px;
	height: 36px;
}

#left {
	width: 536px;
	height: 36px;
	float: left;
	height: 14px;
	font-size: 12px;
}

#left::after {
	content: '';
	display: block;
	clear: both;
}

#left div {
	float: left;
	padding: 0 8px;
	line-height: 36px;
	color: rgb(58, 58, 58);
}

#left div:hover {
	color: red;
	cursor: pointer;
}

.left5 {
	position: relative;
	font-size: 16px;
}

.left5chunk {
	transition: height .3s;
	width: 200px;
	height: 0px;
	position: absolute;
	right: 0;
	background: white;
	color: red !important;
	text-align: center;
	line-height: 40px !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	z-index: 10;
	overflow: hidden;
	font-size: 16px;
}

.left5chunk p {
	background: white;
}

.left5:hover {
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.left5:hover .left5chunk {
	height: 146px;
}

#right {
	width: 452px;
	height: 36px;
	float: right;
}

#right div {
	float: right;
	padding: 0 8px;
	line-height: 36px;
	color: rgb(58, 58, 58);
}

#right::after {
	content: '';
	display: block;
	clear: both;
}

#right div:hover {
	color: red;
	cursor: pointer;
}



#bottomright {
	width: 80%;
	min-width: 1200px
}

#bottom {
	height: 74px;
}

#bottomright img:hover {
	cursor: pointer;
}

#bottomright::after {
	content: '';
	display: block;
	clear: both;
}

#buttomcenter form::after {
	content: '';
	display: block;
	clear: both;
}

#buttomcenter {
	width: 80%;
	height: 74px;
	margin: 0 auto;
	padding: 18px 0 15px 0;
	box-sizing: border-box;
}

.pic1 {
	width: 205px;
	height: 36px;
	float: left;
	margin-right: 10px;
}

.pic2 {
	width: 74px;
	height: 24px;
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}

.input1 {
	float: right;
	width: 285px;
	height: 30px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-top: 5px;
	padding: 0 !important;
	border: 1px solid rgba(0, 0, 0, .1);
	box-sizing: border-box;
	background: rgba(0, 0, 0, .1);
	border-right: none;
	text-indent: 2em;
}

.input2 {
	float: right;
	width: 25px;
	height: 30px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, .1);
	box-sizing: border-box;
	border-left: none;
	background: url('https://res8.vmallres.com/20191020/images/echannel/icon/icon-common.svg') -157px 3px;
	cursor: pointer;
}

.input2:hover {
	background: url('https://res8.vmallres.com/20191020/images/echannel/icon/icon-common.svg') -137px 3px
}

/* header结束 */
/* main开始 */
/* 图片开始 */
#main{
	
	margin: 0 auto;
}
#mainpic {
	width: 1583px;
	height: 550px;
}

#mainbottompic {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 1583px;
}

.maindiv {
	width: 200px;
	height: 440px;
	border-radius: 15px;
	background: white;
	position: absolute;
	top: 10px;
	left: 150px;
	font-size: 12px;
}

.maindiv div {
	/* width: 150px; */
	height: 48px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	padding: 12px 0 13px 25px;
	margin-right: 25px;
	line-height: 18px;
	text-align: left;
}

.maindiv div p {
	margin-top: 2px;
	background: none;
}

.maindiv div:last-of-type {
	border-bottom: 0 none;
}

#banner .mainchunk {
	overflow: hidden;
	transition: all .3s;
	max-width: 0 !important;
	height: 414px !important;
	background: white;
	position: absolute;
	left: 174px;
	top: 0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.maindiv1 p:hover {
	color: red;
}

.maindiv1:hover {
	cursor: pointer;
	box-shadow: 0 0 46px rgba(0, 0, 0, 0.1)
}

#banner .maindiv1:hover .mainchunk {
	
	max-width: 662px !important;
	box-shadow: 0 0 46px rgba(0, 0, 0, 0.1)
}

/* 图片结束 */
/* 横排导航栏开始 */
.maincenter {
	width: 1220px;
	height: 88px;
	background: #fefefe;
	margin: 20px auto 0 auto;
	border-radius: 15px;
	position: relative;
	top: -80px;
	box-shadow: 0 2px 26px rgba(0, 0, 0, 0.07);
}

.maincenterleft {
	float: left;
	width: 270px;
	height: 52px;
	padding-left: 26px;
	margin-top: 18px;
	border-right: 1px solid rgba(0, 0, 0, .2);
}

.maincenter::after {
	content: '';
	display: block;
	clear: both;
}

.maincenterleft img {
	float: left;
	width: 52px;
	height: 52px;
	margin-right: 20px;
}

.maincenterleft img:hover {
	cursor: pointer;
}

.maincenterleftfont {
	float: left;
	width: 150px;
	height: 20px;
	z-index: 66
}

.maincenterleftfont div {
	float: left;
}

.maincenterleftfont p {
	float: left;
	background: none
}

.maincenterleftfont p:hover {
	cursor: pointer;
	color: red;
}

.maincenterleftbottom {
	float: left;
	width: 150px;
	height: 22px;
	margin-top: 6px;
}

.maincenterleftbottom1 {
	float: left;
	width: 68px;
	height: 22px;
	border-radius: 5px;
	margin-right: 6px;
	border: 1px solid red;
	color: red;
	text-align: center;
	box-sizing: border-box;
	font-size: 13px;
}

.maincenterleftbottom2 {
	float: left;
	width: 68px;
	height: 22px;
	border-radius: 5px;
	margin-right: 6px;
	background: #595454;
	color: #fde4b3;
	text-align: center;
	font-size: 13px;
}

.maincenterleftbottom1:hover {
	color: white;
	background: red;
	cursor: pointer;
}

.maincenterleftbottom2:hover {
	cursor: pointer;
	background: black;
}

.maincentercenter {
	float: left;
	width: 650px;
	height: 64px;
	margin-top: 12px;
}

.maincentercenter div {
	float: left;
	width: 84px;
	height: 64px;
	margin-left: 26px;
}

.maincentercenter div img {
	background-image: url("https://res.vmallres.com/pimages//squaredInfo/icon/5/053d7b1facf1932b3a68f3bc28740937.png");
	width: 76px;
	height: 76px;
	transform: scale(0.7, 0.7);
	border-radius: 100%;
	position: absolute;
	top: -10px;
	background-position: -2px -2px;
}

#imgfont {
	width: auto;
	height: auto;
	margin: 50px 0 0 0;
}

.maincentercenter div img:hover {
	cursor: pointer;
}

.maincentercenter::after {
	content: '';
	display: block;
	clear: both;
}

#imgfont:hover {
	cursor: pointer;
	color: red;
}

.maincenterright {
	float: right;
	width: 265px;
	height: 100%;
	border-left: 1px solid rgba(0, 0, 0, .05);
}

.maincenterright::after {
	content: '';
	display: block;
	clear: both;
}

.maincenterright1 {
	height: 44px;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	line-height: 44px;
}

.maincenterright1 p {
	text-indent: 2em;
}

.maincenterright2 {
	height: 44px;
}

.mainlast1 {
	float: left;
	background-image: url("https://res.vmallres.com/pimages//squaredInfo/icon/5/053d7b1facf1932b3a68f3bc28740937.png");
	width: 38px;
	height: 42px;
	transform: scale(0.5, 0.5);
	background-position: 115px -1px;
}

.mainlast2 {
	float: left;
	width: 50px;
	font-size: 14px;
}

.mainlast2:hover {
	color: red;
	cursor: pointer;
}

.maincenterright1::after {
	content: '';
	display: block;
	clear: both;
}

.maincenterright2::after {
	content: '';
	display: block;
	clear: both;
}

/* 横排导航栏结束 */
/* 四张图片开始 */
#mainpic2 {
	width: 1200px;
	height: 200px;
	margin: 0px auto;
	text-align: center;
}

#mainpic2 img {
	width: 290px;
	height: 200px;
	border-radius: 15px;
	transition: all .4s;
}

#mainpic2 img:hover {
	box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}

/* 四张图片结束 */
/* 商品排版开始 */
#text1 {
	width: 1200px;
	height: 604px;
	margin: 0 auto;
}

.text1pic1 {
	width: 230px;
	height: 592px;
	float: left;
	border-radius: 15px;
	transition: all .4s;
}

.text1right {
	float: left;
	width: 968px;
	height: 604px;
}

#text1 div {
	float: left;
	margin-right: 2px;
	border-radius: 15px;
}

.text1right div {
	float: left;
	width: 230px;
	height: 290px;
	margin: 6px 6px;
	text-align: center;
	color: #3a3a3a;
	background-color: rgb(249, 249, 249);
	transition: all .4s;
}

.text1right div img {
	width: 150px;
	height: 150px;
	margin-top: 40px;
}

.text1right div:hover {
	box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.text1pic1:hover {
	box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}

.text1right::after {
	content: '';
	display: block;
	clear: both;
}

#text1::after {
	content: '';
	display: block;
	clear: both;
}

/* 结束第一个 */
/* 第二个排版 */
#text2 {
	width: 1246px;
	height: 350px;
	margin: 0 auto;
}

#text2 div {
	float: left;
}

#text2 h2 {
	display: block;
}

#text2::after {
	content: '';
	display: block;
	clear: both;
}

.text2pic {
	width: 242px;
	height: 295px;
	margin: 0 2px;
	text-align: center;
}

.text2pic img {
	width: 150px;
	height: 150px;
}

.text2picdiv {
	width: 230px;
	height: 238px;
	transition: all .4s;
	border-radius: 10px !important;
}

#text2picdivtop {
	width: 66px;
	height: 22px;
	margin: 0 auto;
	background: #68beff;
	color: white;
	font-size: 12px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.text2picdiv div {
	width: 242px;
	height: 48px;
	float: none !important;
	line-height: 22px
}

.text2p1 {
	float: left;
	padding: 0 10px;
	background: #f3f3f3;
	width: 210px;
	height: 36px;
	line-height: 36px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.text2p2 {
	font-size: 14px;
}

.text2p3 {
	color: red;
}

.text2pic:hover .text2picdiv {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

/* 第二个结束 */
/* 中间图片 */
.centerpic1 {
	width: 1200px;
	height: 120px;
	margin: 20px auto;
}

.centerpic2 {
	width: 1200px;
	height: 120px;
	border-radius: 10px;
}

/* 中间图片 */
/* 第三个开始 */
/* 文字开始 */
.text3 {
	width: 1220px;
	height: 1581px;
	margin: 0px auto;
}

.texth {
	float: left;
	height: 32px;
	margin: 20px auto;
}

.texth h2 {
	float: left;
	margin: 0 20px 0 0;
}

.texth div {
	float: left;
	height: 32px;
	margin-right: 24px;
	line-height: 32px
}

.texth div:hover {
	color: #ca151d;
	cursor: pointer;
}

/* 文字结束 */
/* 开始排版 */
.text3bigpic1 {
	border-radius: 10px;
}

.text3bigpic1 img {
	width: 230px;
	height: 290px;
	border-radius: 10px;
	transition: all .4s;
}

.text3bigpic div {
	float: left;
	margin: 0 1px;
}

.text3bigpic1:hover {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

/* 结束排版 */
/* 第三个结束 */
/* 最后 */
footer {
	background: #f9f9f9;
	width: 100%;
	min-width: 1200px;
}

.footertoptext {
	width: 1200px;
	height: 82px;
	margin: 0 auto;
	line-height: 82px;
	border-bottom: 1px solid #e5e5e5;
}

.footertoptext div {
	width: 300px;
	box-sizing: border-box;
	float: left;
	padding: 0 0px 0 0;
	text-align: center;
}

.footertoptext div:hover {
	cursor: pointer;
}

.footercentertext {
	height: 211px;
	width: 1200px;
	padding: 23px 0 24px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 auto;
	box-sizing: border-box;
}

.footer1 {
	float: left;
	width: 921px;
	height: 160px;
}

.footer2 {
	float: left;
	width: 278px;
	height: 160px;
	border-left: 1px solid #e5e5e5
}

.footer1 div {
	float: left;
	margin: 10px 18px;
}

.f1 div {
	float: none !important;
	font-size: 14px;
}

/* .f1:hover{color:red;} */
.f2:hover {
	color: red;
	cursor: pointer;
}

.s1 {
	font-size: 24px;
	color: #575757;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}

.s2 {
	color: #575757;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
}

.s3 {
	background: #333;
	cursor: pointer;
	border-radius: 17px;
	width: 170px;
	height: 34px;
	line-height: 34px;
	margin: 10px auto 0 auto;
	text-align: center;
	color: #fff;
}

.s4 {
	height: 24px;
	font-size: 20px;
	line-height: 20px;
	margin-top: 24px;
	margin-left: 40px;
}

.s4 img {
	width: 20px;
	height: 20px
}

.mainfooter {
	width: 1200px;
	height: 61px;
	margin: 25px auto 50px auto;
}

.mf1 {
	width: 102px;
	height: 61px;
}

.mf1 img {
	width: 80px;
	height: 20px;
}

.mainfooter div {
	float: left;
	font-size: 12px;
}

.mf2 {
	line-height: 25px
}

.mf2:hover {
	color: red;
	cursor: pointer;
}

.mf3 {
	float: right !important;
	width: 174px;
	height: 24px;
}

.mf3 img {
	width: 70px;
	height: 24px;
}

/* GG */
/* 特效 */
#banner {
	width: 1583px;
	height: 550px;
	position: relative;
	margin: 0 auto;
}
#banner ul{
	position: relative;
}
#banner ul li img {
	max-width: 100%;
	height: 550px;
	float: right;
	overflow: hidden;
	transition: all 1s;
}

#banner li {
	position: absolute;
	top: 0;
	left: 0;
}

#banner1 {
	position: absolute;
	bottom: 0px;
	max-width: 100%;
	height: 72px;
}

#banner .left {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 400px;
	top: 50%;
	transform: translateY(-50%);
	background: url('img/icon01.svg') -0px -71px;
}

#banner .left:hover {
	background-position: -240px -71px;
}

#banner .right {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 200px;
	top: 50%;
	transform: translateY(-50%);
	background: url('img/icon01.svg') -82px -71px;
}

#banner .right:hover {
	background-position: -162px -71px;
}

#banner .round {
	position: absolute;
	right: 310px;
	bottom: 200px;
}

#banner .round ul li {
	width: 12px;
	height: 12px;
	/* background: white; */
	float: left !important;
	position: relative;
	margin-left: 10px;
	border-radius: 100%;
	border: 1px solid #e6eced;
}

#textscroll {
	width: 266px;
	height: 44px;
	overflow: hidden;
	float: left;
}

#textscroll li {
	font-size: 12px;
	line-height: 44px;
	text-indent: 2em;
}

#textscroll p {
	float: left;
}

#textscroll ul {
	float: left;
}

#scroll {
	width: 1246px;
	height: 295px;
	margin: 0 auto;
	overflow: hidden;
}

#scroll ul {
	display: inline-flex;
}

#scroll ul li {
	width: 242px;
	height: 295px;
	background: #fff;
	float: left;
	margin-right: 14px;
}

#scroll ul li:last-of-type {
	margin-right: 0;
}

#scroll2 div:last-of-type {
	width: 36px;
	height: 72px;
	background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -44px 0;
	position: relative;
	top: 180px;
	right: -1208px;
	line-heigt: 72px;
}

#scroll2 div:first-of-type {
	width: 36px;
	height: 72px;
	background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) 0 0;
	position: relative;
	top: 180px;
	line-heigt: 72px;
}

#scroll2 div:first-of-type:hover {
	background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -84px 0;
	background-color: rgba(0, 0, 0, .3);
}

#scroll2 div:last-of-type:hover {
	background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -126px 0;
	background-color: rgba(0, 0, 0, .3);
}

#texth2sroll {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 1246px;
	text-indent: 2em;
}
